body {
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  height: 850px;
}
.foto1 {
  display: none;
  width: 0px;
  height: 0px;
}
.text3 {
  display: none;
  font-size: 0px;
}
.text4 {
  color: white;
  display: none;
  font-size: 0px;
}
.foto0 {
  display: none;
  width: 0px;
  height: 0px;
}
.text2 {
  display: none;
  font-size: 0px;
}
.container1 {
  margin-top: -840px;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
}
.foto01 {
  margin-left: 550px;
  width: 40px;
  height: 40px;
}
.foto11 {
  margin-left: 250px;
  width: 30px;
  height: 30px;
}
.text11 {
  font-size: 20px;
  margin-left: 70px;
  color: white;
}
.text21 {
  font-size: 20px;
  margin-left: 15px;
  color: white;
}
.text31 {
  font-size: 20px;
  margin-left: 15px;
  color: white;
}
.text41 {
  font-size: 20px;
  margin-left: 20px;
  color: white;
}
.plogo1 {
  font-size: 90px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.plogo2 {
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 130px;
}
.logo2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 70px);
  color: rgb(255, 255, 255);
  margin-top: -600px;
  margin-left: 70px;
}
.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 163, 149);
  border-radius: 15px;
  border: none;
  width: 380px;
  height: 70px;
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  margin-top: 150px;
}
.button:hover {
  border-radius: 50px;
  color: black;
  background-color: rgb(80, 180, 0);
  transition: 2s;
}
.logotext1 {
  margin-left: 300px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.logotext2 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext3 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext4 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext5 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext6 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext7 {
  margin-left: 40px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 39, 58);
  height: 50px;
  padding: 1em;
  z-index: -1;
}
.sev {
  margin-top: 170px;
  margin-left: 60px;
  /* width: 150px; */
  z-index: 1;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.logotext1 {
  margin-left: 300px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.logotext2 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext3 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext4 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext5 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext6 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logotext7 {
  margin-left: 40px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 80px;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 150px;
  z-index: 1;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 70px);
}
.hp {
  font-size: 40px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  font-weight: bold;
}

.textA {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 8;
  font-size: 25px;
  margin-left: 240px;
}
.textB {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 8;
  margin-left: 50px;
  font-size: 25px;
  margin-right: 210px;
}

.textC {
  font-size: 45px;
  padding-top: 50px;
  margin-bottom: -100px;
  text-align: center;
  font-weight: bold;
}
.container3 {
  height: 450px;
  background-color: rgba(223, 223, 223, 0.308);
}
.gri {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 20px;
  padding: 30px;
}
.foto2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 20px;
  margin-left: 10px;
}
.foto3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 20px;
}
.foto4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 20px;
}
.foto5 {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 20px;
  margin-right: 10px;
}
.container4 {
  margin-top: 130px;
}
.textD {
  font-size: 45px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
.poplular {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 70px);
  gap: 50px;
  padding: 30px;
}
.foto6 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 312px;
  height: 220px;
}
.kod {
  font-size: 25px;
  margin-top: 1px;
  font-weight: bold;
  color: black;
  margin-left: 15px;
}
.mon {
  font-size: 20px;
  margin-top: -16px;
  font-weight: bold;
  color: rgba(117, 117, 117, 0.678);
  margin-left: 15px;
}
.money {
  margin-left: 15px;
  margin-top: -13px;
  color: rgb(0, 184, 0);
  font-size: 40px;
}
.buton1 {
  text-decoration: none;
  color: white;
  background-color: rgb(255, 166, 0);
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 30px;
  margin-left: 30px;
  margin-top: -10px;
  font-size: 17px;
}
.buton1:active {
  color: black;
  background-color: rgb(0, 153, 255);
  box-shadow: 2px -3px 8px 1px rgb(0, 0, 0);
  transition: 1s;
  border-radius: 50px;
}
.buton11 {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.number1 {
  margin-left: 15px;
  margin-right: 10px;
}
.buttonMP {
  height: 20px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.356);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-top: 22px;
  cursor: pointer;
}
.buttonMP:hover {
  color: black;
}
.plusMinus {
  margin-top: -30px;
  margin-left: 80px;
}
.ofd1 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd2 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd3 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd4 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd5 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.ofd6 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.ofd7 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.ofd8 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 450px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
  content: normal;
  border-radius: 20px;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.plusMinusALT {
  margin-top: -30px;
  margin-left: 60px;
}
.ehe {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: black;
}
.container5 {
  margin-top: 100px;
  height: 600px;
}
.img3 {
  width: 100%;
  height: 500px;
}
.form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 70px);
  margin-top: -230px;
}
input {
  width: 300px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.buttonsub {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 163, 149);
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 20px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}
.buttonsub:hover {
  background-color: rgb(29, 173, 0);
  transition: 2s;
}
.namepole {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.phone {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.h1 {
  text-align: center;
  font-weight: 500;
  margin-top: -370px;
  font-size: 40px;
  color: white;
}
.p1 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.p2 {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 200px;
}
.container6 {
  margin-top: 50px;
  background-color: rgba(223, 223, 223, 0.342);
}
.textE {
  font-size: 45px;
  margin: 50px;
  margin-bottom: -60px;
  margin: 50px;
  text-align: center;
  font-weight: bold;
}
.container6 {
  height: 500px;
}
.gri2 {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.carusel {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 7%;
  transition: 0.2s ease;
}
.otz1 {
  background-color: rgb(255, 255, 255);
  width: 680px;
  height: 250px;
  content: normal;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.493);
  flex-shrink: 1;
  margin-right: 30px;
}
.foto7 {
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 25px;
  width: 125px;
}
.name {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 30px;
}
.p3 {
  font-size: 23px;
  margin-top: -205px;
  margin-left: 170px;
  color: black;
}
.data {
  font-size: 20px;
  margin-left: 480px;
  margin-top: -43px;
  color: black;
}
.zvezda {
  margin-left: 15px;
  margin-bottom: -50px;
}
.ehe1 {
  margin-top: -60px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: black;
}
.carousel-controls {
  margin-left: 70%;
  position: relative;
  margin-top: -50px;
}
.carousel-controls button {
  width: 90px;
  height: 40px;
  background-color: rgba(223, 223, 223, 0);
  border: none;
  margin: 10px;
  font-size: 18px;
  padding: 1px 7px;
}
.container7 {
  margin-top: 100px;
}
.textF {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
}
.gri3 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 70px);
  gap: 50px;
}
.imgbiznes {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 800px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 100px;
}
.p5 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 24px;
  margin-top: 50px;
  margin-left: 30px;
  color: black;
}
.p6 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 5;
  font-size: 24px;
  margin-left: 30px;
}
.container8 {
  margin-top: 100px;
  background-color: rgba(223, 223, 223, 0.342);
}
.container81 {
  width: 0;
  height: 0;
  border-left: 700px solid transparent;
  border-top: 1115px solid rgba(0, 174, 255, 0.315);
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);
  margin-top: 80px;
  margin-left: 956px;
}
.poplular1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 70px);
  gap: 30px;
}
.textG {
  font-size: 45px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
.ofd9 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd10 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd11 {
  width: 350px;
  height: 400px;
  content: normal;
  border-radius: 20px;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd12 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: 10px;
}
.ofd13 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.ofd14 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.ofd15 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.ofd16 {
  width: 350px;
  height: 400px;
  content: normal;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 7;
  margin-left: 10px;
}
.kod1 {
  font-size: 25px;
  margin-top: 0px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.buton2 {
  color: rgb(0, 0, 0);
  background-color: rgba(243, 216, 165, 0);
  border-radius: 50px;
  width: 150px;
  height: 30px;
  font-size: 17px;
  margin-top: 20px;
}
.buton2:hover,
.buton3:hover {
  background-color: rgb(0, 255, 221);
  transition: 1s;
}
.buton3 {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 166, 0, 0);
  border-radius: 50px;
  width: 150px;
  height: 30px;
  font-size: 17px;
  margin-top: -10px;
}
.btn-cont {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.foto8 {
  margin-left: 60px;
  width: 250px;
  height: 250px;
}
.container9 {
  margin-top: 100px;
}
.textH {
  font-size: 45px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
.poplular2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 70px);
  gap: 50px;
  padding: 30px;
}
.ehe2 {
  margin-top: -55px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: black;
}
.ofd17 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 350px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
  content: normal;
  border-radius: 15px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.ofd18 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 350px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
  content: normal;
  border-radius: 15px;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.ofd19 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 350px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
  content: normal;
  border-radius: 15px;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.ofd20 {
  background-color: rgba(211, 211, 211, 0.199);
  width: 312px;
  height: 350px;
  box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
  content: normal;
  border-radius: 15px;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.kod2 {
  font-size: 23px;
  margin-top: 10px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
}
.mon1 {
  font-size: 17px;
  margin-top: -10px;
  font-weight: bold;
  color: rgba(102, 102, 102, 0.726);
  margin-left: 20px;
}
.mon2 {
  font-size: 17px;
  margin-top: 40px;
  font-weight: bold;
  color: rgba(102, 102, 102, 0.726);
  margin-left: 20px;
}
.foto9 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 312px;
  height: 220px;
}
.footer {
  background-color: rgb(0, 39, 58);
  width: 100%;
  height: 450px;
}
.spisok {
  padding-top: 20px;
  padding-left: 100px;
}
.katalog {
  color: white;
  list-style-type: none;
  display: inline-block;
  display: block;
  margin-top: 10px;
  font-size: 20px;
}
.container10 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 70px);
}
.textfooter {
  color: white;
  text-decoration: none;
}
.ofd21 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ofd22 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ofd23 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ofd24 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ofd25 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 100px;
}
.ofd26 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 70px;
}

.ofd27 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 30px;
}

.kod3 {
  color: white;
  font-size: 22px;
}
.kod4 {
  color: white;
  font-size: 17px;
  margin-top: 80px;
}
.mon3 {
  color: white;
  font-size: 20px;
  margin-top: -15px;
}
.foto10 {
  margin-top: 50px;
}
.strelka {
  background-color: rgba(0, 255, 255, 0);
  border: none;
  margin-left: 100px;
  margin-top: 100px;
}
/* tovar.html */
.container12 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(15, 50px);
}

.email1 {
}
.of {
  content: normal;
  margin-left: 100px;
  border-radius: 15px;
  background-color: #e2e8f0;
  width: 400px;
  height: 630px;
}
.fototovar {
  margin-top: 20px;
  width: 250px;
  border-radius: 15px;
  margin-left: 75px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ko {
  font-size: 70px;
  margin-top: 30px;
  margin-left: 100px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.mo {
  margin-top: 40px;
  font-size: 36px;
  margin-left: 150px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.oform {
  text-align: center;
  font-size: 20px;
}
.artikul {
  margin-top: 40px;
  font-size: 36px;
  margin-left: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.artikul1 {
  margin-top: 40px;
  font-size: 40px;
  margin-left: 100px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
}
.money1 {
  margin-top: 20px;
  font-size: 56px;
  margin-left: 150px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
  color: #17a400;
}
.form1 {
  margin-left: 30px;
}
.namepole1 {
  border-width: 10px;
}
.butontovar {
  color: black;
  background-color: #2dd4bf;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  margin-top: 20px;
  width: 300px;
  height: 50px;
}
@media (max-width: 320px) {
  .header {
    height: 350px;
  }
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 39, 58);
    height: 50px;
    padding: 1em;
    z-index: -1;
  }
  .menu-button-container {
    display: flex;
  }
  .mapa {
    height: 250px;
  }
  .foto1 {
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
  }
  .text3 {
    display: inline;
    font-size: 25px;
  }
  .text4 {
    display: inline;
    font-size: 20px;
    text-align: center;
  }
  .foto0 {
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 7px;
  }
  .text2 {
    display: inline;
    margin-top: 5px;
    font-size: 20px;
  }
  .container1 {
    margin-top: -810px;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
  }
  .foto01 {
    display: none;
    margin-left: 550px;
    width: 40px;
    height: 40px;
  }
  .foto11 {
    display: none;
    margin-left: 200px;
    width: 30px;
    height: 30px;
  }
  .text11 {
    display: none;
    font-size: 20px;
    margin-left: 70px;
    color: white;
  }
  .text21 {
    display: none;
    font-size: 20px;
    margin-left: 15px;
    color: white;
  }
  .text31 {
    display: none;
    font-size: 20px;
    margin-left: 15px;
    color: white;
  }
  .text41 {
    display: none;
    font-size: 20px;
    margin-left: 20px;
    color: white;
  }
  .plogo1 {
    font-size: 25px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
  }
  .plogo2 {
    font-size: 18px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 30px;
    text-align: center;
  }
  .logo2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 30px);
    color: rgb(255, 255, 255);
    margin-top: -230px;
    margin-left: 0px;
  }
  .button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 163, 149);
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 30px;
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: 15px;
    margin-top: 55px;
    margin-left: 100px;
  }
  .sev {
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
  }
  .logotext1 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
  }
  .logotext2 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
  }
  .logotext3 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
  }
  .logotext4 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
  }
  .logotext5 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
  }
  .logotext6 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
  }
  .logotext7 {
    margin-left: 0px;
    color: rgb(255, 255, 255);
    margin-right: 0px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid rgb(0, 39, 58);
    height: 3em;

    padding: 0.7em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(0, 39, 58);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 70px);
  }
  .hp {
    font-size: 20px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-weight: bold;
  }

  .textA {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 20px;
    margin-left: 0px;
  }
  .textB {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 16;
    margin-left: 0px;
    font-size: 20px;
    margin-right: 0px;
    margin-top: 30px;
  }

  .textC {
    font-size: 22px;
    padding-top: 50px;
    margin-bottom: -80px;
    text-align: center;
    font-weight: bold;
  }
  .container3 {
    height: 970px;
    background-color: rgba(223, 223, 223, 0.308);
  }
  .gri {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 70px);
    gap: 35px;
    padding: 0px;
  }
  .foto2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 20px;
    margin-left: 25px;
    width: 270px;
  }
  .foto3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 20px;
    width: 270px;
    margin-left: 25px;
  }
  .foto4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 8;
    border-radius: 20px;
    width: 270px;
    margin-left: 25px;
  }
  .foto5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 10;
    border-radius: 20px;
    margin-right: 0px;
    width: 270px;
    margin-left: 25px;
  }
  .container4 {
    margin-top: 50px;
  }
  .textD {
    font-size: 25px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
  }
  .poplular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(17, 70px);
    gap: 5px;
    padding: 0px;
  }
  .foto6 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 140px;
    height: 150px;
  }
  .kod {
    font-size: 17px;
    margin-top: 1px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
  }
  .mon {
    font-size: 15px;
    margin-top: -10px;
    font-weight: bold;
    color: rgba(117, 117, 117, 0.678);
    margin-left: 10px;
  }
  .money {
    margin-left: 10px;
    margin-top: -13px;
    color: rgb(0, 184, 0);
    font-size: 25px;
  }
  .number1 {
    margin-left: -1000px;
    margin-right: 10px;
    font-size: 0px;
  }
  .buton1 {
    color: white;
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
    border: none;
    width: 110px;
    height: 30px;
    margin-left: 15px;
    margin-top: -20px;
    font-size: 17px;
  }
  .buton11 {
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  .buttonMP {
    height: 0px;
    font-size: 0px;
    color: rgba(0, 0, 0, 0.356);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 0px;
    cursor: pointer;
  }
  .buttonMP:hover {
    color: black;
  }
  .plusMinus {
    margin-top: -30px;
    margin-left: 80px;
  }
  .ofd1 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 10px;
  }
  .ofd2 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 0px;
  }
  .ofd3 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 8;
    margin-left: 10px;
    margin-top: 20px;
  }
  .ofd4 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 8;
    margin-left: 0px;
    margin-top: 20px;
  }
  .ofd5 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 9;
    grid-row-end: 12;
    margin-left: 10px;
    margin-top: 40px;
  }
  .ofd6 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 12;
    margin-left: 0px;
    margin-top: 40px;
  }
  .ofd7 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 13;
    grid-row-end: 16;
    margin-left: 10px;
    margin-top: 60px;
  }
  .ofd8 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 305px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.2);
    content: normal;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 16;
    margin-left: 0px;
    margin-top: 60px;
  }
  .plusMinusALT {
    margin-top: -30px;
    margin-left: 60px;
  }
  .ehe {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .container5 {
    margin-top: 100px;
    height: 600px;
  }
  .img3 {
    width: 100%;
    height: 550px;
  }
  .form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 70px);
    margin-top: -300px;
  }
  input {
    width: 280px;
    height: 40px;
    margin: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
  }
  .buttonsub {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 163, 149);
    width: 280px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .buttonsub:hover {
    background-color: rgb(29, 173, 0);
    transition: 2s;
  }
  .namepole {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .phone {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .h1 {
    text-align: center;
    font-weight: 500;
    margin-top: -500px;
    font-size: 25px;
    color: white;
  }
  .p1 {
    font-size: 27px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .p2 {
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 270px;
  }
  .container6 {
    margin-top: 50px;
    background-color: rgba(223, 223, 223, 0.342);
    height: 530px;
  }
  .textE {
    font-size: 29px;
    margin: 50px;
    margin-bottom: -60px;
    margin: 50px;
    text-align: center;
    font-weight: bold;
  }

  .gri2 {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
  }
  .carusel1 {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0%;
    transition: 0.2s ease;
  }
  .otz1 {
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 320px;
    content: normal;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.493);
    flex-shrink: 0;
    margin-right: 30px;
  }
  .foto7 {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    width: 85px;
  }
  .name {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 130px;
    margin-top: -100px;
  }
  .p3 {
    font-size: 19px;
    margin-top: 10px;
    margin-left: 20px;
    color: black;
  }
  .data {
    font-size: 20px;
    margin-left: 125px;
    margin-top: 35px;
    color: black;
    padding-right: 200px;
    padding-left: -200px;
  }
  .zvezda {
    margin-left: 25px;
    margin-bottom: 40px;
    width: 100px;
  }

  .ehe1 {
    margin-top: -130px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .carousel-controls {
    margin-left: 1%;
    position: relative;
    margin-top: -160px;
  }
  .carousel-controls button {
    width: 0px;
    height: 0px;
    background-color: rgba(223, 223, 223, 0);
    border: none;
    margin: 20px;
    font-size: 1px;
    padding: 1px 7px;
  }
  .strelkarusel {
    visibility: collapse;
  }
  .container7 {
    margin-top: 130px;
  }
  .textF {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .gri3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 50px);
    gap: 50px;
  }
  .imgbiznes {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 300px;
    border-radius: 5px;
    margin-top: -70px;
    margin-left: 10px;
  }
  .p5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 7px;
    color: black;
  }
  .p6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 9;
    font-size: 20px;
    margin-left: 7px;
    margin-top: -10px;
  }
  .container8 {
    margin-top: -40px;
    background-color: rgba(223, 223, 223, 0.342);
  }
  .container81 {
    width: 0;
    height: 0;
    border-left: 220px solid transparent;
    border-top: 350px solid rgba(0, 174, 255, 0.315);
    position: absolute;
    z-index: -1;
    transform: rotate(90deg);
    margin-top: 930px;
    margin-left: 35px;
  }
  .poplular1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, 50px);
    gap: 30px;
  }
  .textG {
    font-size: 25px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
  }
  .ofd9 {
    width: 130px;
    height: 200px;
    content: normal;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 10px;
  }
  .ofd10 {
    width: 150px;
    height: 200px;
    content: normal;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: -15px;
  }
  .ofd11 {
    width: 150px;
    height: 200px;
    content: normal;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-top: 23px;
    margin-left: 10px;
  }
  .ofd12 {
    width: 150px;
    height: 200px;
    content: normal;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-left: -20px;
  }
  .ofd13 {
    width: 150px;
    height: 200px;
    content: normal;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 9;
    margin-top: 60px;
    margin-left: 10px;
  }
  .ofd14 {
    width: 150px;
    height: 200px;
    content: normal;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
    margin-top: 60px;
    margin-left: -15px;
  }
  .ofd15 {
    width: 150px;
    height: 200px;
    content: normal;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 6px;
  }
  .ofd16 {
    width: 150px;
    height: 200px;
    content: normal;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-top: 24px;
    margin-left: -30px;
  }
  .kod1 {
    font-size: 20px;
    margin-top: 0px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  .buton2 {
    color: rgb(0, 0, 0);
    background-color: rgba(243, 216, 165, 0);
    border-radius: 50px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-top: 24px;
  }
  .buton2:hover,
  .buton3:hover {
    background-color: rgb(0, 255, 221);
    transition: 1s;
  }
  .buton3 {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 166, 0, 0);
    border-radius: 50px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-top: 0px;
  }
  .btn-cont {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .foto8 {
    margin-left: 10px;
    width: 120px;
    height: 120px;
  }
  .container9 {
    order: 2;
    margin-top: 50px;
  }
  .textH {
    font-size: 22px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
  }
  .poplular2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    padding: 0px;
  }
  .ehe2 {
    margin-top: -45px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .ofd17 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 210px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
    content: normal;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 10px;
  }
  .ofd18 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 210px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
    content: normal;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 10px;
  }
  .ofd19 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 210px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
    content: normal;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-top: 20px;
    margin-left: 10px;
  }
  .ofd20 {
    background-color: rgba(211, 211, 211, 0.199);
    width: 140px;
    height: 210px;
    box-shadow: 5px 3px 15px 1px rgba(0, 0, 0, 0.322);
    content: normal;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-top: 20px;
    margin-left: 10px;
  }
  .kod2 {
    font-size: 12px;
    margin-top: 2px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
  }
  .mon1 {
    font-size: 12px;
    margin-top: 0px;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.726);
    margin-left: 5px;
  }
  .mon2 {
    font-size: 12px;
    margin-top: 0px;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.726);
    margin-left: 5px;
  }
  .foto9 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 140px;
    height: 140px;
  }
  .footer {
    background-color: rgb(0, 39, 58);
    width: 100%;
    height: 1400px;
    margin-top: 70px;
  }
  .spisok {
    padding-top: 20px;
    padding-left: 10px;
  }
  .katalog {
    list-style-type: none;
    display: inline-block;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  .obmen {
    display: flex;
    flex-direction: column;
  }
  .container11 {
    order: 1;
  }
  .container10 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(13, 100px);
  }
  .textfooter {
    color: white;
    text-decoration: none;
  }
  .ofd21 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ofd22 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ofd23 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ofd24 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 13;
    grid-row-end: 13;
    display: block;
    margin-left: 30px;
  }
  .ofd25 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 10;
    grid-row-end: 11;
    margin-left: 0px;
    text-align: center;
  }
  .ofd26 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 12;
    grid-row-end: 13;
    margin-left: 0px;
    text-align: center;
  }

  .ofd27 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 0px;
    text-align: center;
  }

  .kod3 {
    color: rgb(255, 255, 255);
    font-size: 22px;
  }
  .kod4 {
    color: white;
    font-size: 20px;
    margin-top: 80px;
  }
  .mon3 {
    color: white;
    font-size: 25px;
    margin-top: -15px;
    text-align: center;
  }
  .foto10 {
    margin-top: 50px;
  }
  .strelka {
    background-color: rgba(0, 255, 255, 0);
    border: none;
    margin-left: 100px;
    margin-top: 100px;
  }
  /* tovar.html */
  .container12 {
    width: 320px;
    /* height: 1000px; */
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, 50px);
  }
  .email1 {
  }
  .of {
    content: normal;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    width: 320px;
    height: 630px;
  }
  .fototovar {
    margin-top: 20px;
    width: 250px;
    border-radius: 15px;
    margin-left: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .ko {
    width: 320px;
    font-size: 34px;
    margin-top: 90px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .mo {
    width: 320px;
    margin-top: 90px;
    font-size: 24px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  .oform {
    width: 320px;
    text-align: center;
    font-size: 16px;
    margin-left: -20px;
  }
  .artikul {
    width: 320px;
    margin-top: 70px;
    font-size: 24px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .artikul1 {
    width: 320px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 16;
    grid-row-end: 17;
  }
  .money1 {
    width: 320px;
    margin-top: 50px;
    font-size: 36px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 8;
    color: #17a400;
  }
  .form1 {
    margin-left: 0px;
    margin-top: 150px;
  }
  .namepole1 {
    border-width: 10px;
  }
  .butontovar {
    color: black;
    background-color: #2dd4bf;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-top: 20px;
    width: 250px;
    height: 50px;
  }
}
